<p><strong>Rose House women may</strong></p>
<ul>
	<li>have had a history of treatment episodes but have not been able to maintain sobriety or may have never had treatment</li>
	<li>be stepping directly into our 90 day program from another treatment episode (like a 30 day residential program)</li>
	<li>have experienced a dramatic dive into substance use or may have had a gradual fall from use to dependency to addiction</li>
	<li>have varying degrees of internal or external motivation to change</li>
	<li>either have a strong history of substance abuse in their families or none at all</li>
	<li>have moved from using one type of substance to another addictive type</li>
	<li>have had trauma (i.e. loss, abuse) that may have contributed to or was actively involved in their use</li>
</ul>
<p>Regardless of how strong our women are, addiction has hijacked their lives and they and their loved ones want them back.</p>
