<div class="hide-for-small-only">
	<div class="fb-page" data-href="https://www.facebook.com/therosehouseco/" data-tabs="timeline" data-height="400" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">

		<blockquote cite="https://www.facebook.com/therosehouseco/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/therosehouseco/">The Rose House</a></blockquote>

	</div>
</div>


<div class="show-for-small-only">
	<div class="fb-page" data-href="https://www.facebook.com/therosehouseco/" data-tabs="timeline" data-height="120" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">

		<blockquote cite="https://www.facebook.com/therosehouseco/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/therosehouseco/">The Rose House</a></blockquote>

	</div>
</div>
