/*
	rose-blue: 578DA0
	rose-green: B0BF7F
	rose-white: FFFCED
	rose-pink: E54C66
	rose-rose: 89293D
*/
#rose-blue {
	color: #578DA0;
}
#rose-green {
	color: #B0BF7F;
}
#rose-white {
	color: #FFFCED;
}
#rose-pink {
	color: #E54C66;
}
#rose-rose {
	color: #89293D;
}
h1, h2 {
	color: #89293D;
	font-family: "trajan-sans-pro";
}
h3 {
	font-family: "trajan-sans-pro";
}
p {
	font-family: "ingra";
}
a {
	color: #89293D;
	font-family: "ingra";
}
a:hover {
	color: #E54C66;
	font-family: "ingra";
}
body {
	margin-right:0;
	padding-right:0;
}
ul.a {
	list-style: square;
}
ul.b {
	list-style: circle;
}
/*
	logo
*/
.logo {
	left: 8px;
	z-index: 100;
	height: 150px;
	position: absolute;
	background-color: #fff;
	border-radius: 0 0 5px 5px;
	box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
}
.logo > img {
	margin-top: 20px;
	max-width: 100%;
}
/*
	top
*/
.top {
	width: 100%;
	display: block;
	min-height: 32px;
	padding-top: 8px;
}
.top > div:nth-child(1) {
	margin-left: 232px;
	display: inline-block;
}
.top > div:nth-child(2) {
	float: right;
	display: inline-block;
	margin-right: 25px;
}
/*
	nav
*/
nav {
	box-sizing: initial;
}
.nav-bar {
	z-index: 1;
	color: #FFF;
	box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
}
.nav-tool {
	background: #E54C66;
}
.nav-list-main {
	background: #E54C66;
	text-align: right !important;
}
.nav-list-sub {
	z-index: 1;
	background: #E54C66;
	box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
}
.nav-bar li > a {
	color: #FFFCED;
	padding: 16px 32px !important;
}
.nav-list-sub > li:nth-child(2) {
	font-weight: bold;
}
/*
	globals
*/
.float-right {
	float: right;
}
.float-left {
	float: left;
}
.jumbo {
	width: 100%;
}
.slide {
}

.contact-form input[type="date"] {
	text-align: center;
}
.contact-form textarea, .insurance-form textarea {
	max-width: 630px;
}
.contact-form input, .contact-form textarea, .contact-form input:focus, .contact-form textarea:focus {
	border-radius: 0;
	box-shadow: none;
	border: none;
	border-bottom: 1px solid #cacaca;
}
.contact-form input:focus, .contact-form textarea:focus {
	border-bottom: 2px solid #8a8a8a;
}
.contact-form input:focus::-webkit-input-placeholder, .contact-form textarea:focus::-webkit-input-placeholder {
   color: #8a8a8a;
}
.contact-form input:focus:-moz-placeholder, .contact-form textarea:focus:-moz-placeholder {
	color: #8a8a8a;
}
.contact-form input:focus::-moz-placeholder, .contact-form textarea:focus::-moz-placeholder {
	color: #8a8a8a;
}
.contact-form input:focus:-ms-input-placeholder, .contact-form textarea:focus:-ms-input-placeholder {
	color: #8a8a8a;
}
.contact-widget {
	color: #fff;
	line-height: 10px;
	text-align: center;
	display: inline-block;
	background-color: #89293D;
	padding: 10px 20px 5px 20px;
	border-radius: 0px 0px 10px 10px;
	box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
}
.contact-widget p {
	line-height: 10px;
	margin-top: 12px;
	color: #D6768A;
}
.contact-widget h4 {
	line-height: 12px;
	color: #FFFCED;
}
.contact-widget-home > div {
	float: right;
	margin-right: 8px;
}
.contact-widget-side {
	text-align: center;
}
.contact-widget-side > div {
	width: 90%;
	padding: 5px;
	max-width: 200px;
}
.contact-widget-side h4 {
	font-size: 1rem;
}
.slogan {
	width: 100%;
	bottom: 0px;
	position: absolute;
	text-align: center;
}
.slogan > div {
	max-width: 600px;
	margin: auto;
	color: #FFFCED;
	display: inline-block;
	padding: 10px 10px 0 10px;
	background-color: rgba(0, 0, 0, 0.5);
}
/*
	social
*/
.facebook {
	color: #3b5998;
}

.pinterest {
	color: #C92228;
}

.google {
	color: #dd4b39;
}
.icon {
	display: inline;
	font-size: 1.3rem;
	padding: 10px;
}
.icon.facebook {
	background-color: #fff;
	  -webkit-transition: background-color 0.25s ease-out;
	  -moz-transition: background-color 0.25s ease-out;
	  -o-transition: background-color 0.25s ease-out;
	  transition: background-color 0.25s ease-out;
}
.icon.google {
	background-color: #fff;
	  -webkit-transition: background-color 0.25s ease-out;
	  -moz-transition: background-color 0.25s ease-out;
	  -o-transition: background-color 0.25s ease-out;
	  transition: background-color 0.25s ease-out;
}
.icon.pinterest {
	background-color: #fff;
	  -webkit-transition: background-color 0.25s ease-out;
	  -moz-transition: background-color 0.25s ease-out;
	  -o-transition: background-color 0.25s ease-out;
	  transition: background-color 0.25s ease-out;
}
.icon.facebook:hover {
	background-color: #3b5998;
	color: #fff;
}
.icon.google:hover {
	background-color: #dd4b39;
	color: #fff;
}
.icon.pinterest:hover {
	background-color: #C92228;
	color: #fff;
}
/*---*/
.contact-slogan{
	padding-bottom: 25px;
}
.contact-bar{
	position: relative;
	padding-top: 10px;
	background-color: #E54C66;

}
.contact-bar input{
	color: #FEFDEC;
}
.center {
	text-align: center;
	line-height: .9rem;
	color: #FFFCED;
}
.fa-comments{
	color: #FEFDEC;
}
.program-icons {
	width: 100%;
	padding: 25px;
	background-repeat: no-repeat;
	background-image: url("http://res.cloudinary.com/dbc2wlvk8/image/upload/c_scale,fl_any_format.lossy,h_500/v1469643887/rose-house/RoseProgramBG_xdwe0e.png");
}
.mobile-program-icons {
	text-align: center;
	margin-top: 1rem;
}
.callout.secondary {
	border:none;
	color: #fff;
	border-radius: 5px;
	background-color: #89293D;
}
.remove-RL-padding {
	padding-left: 0;
	padding-right: 0;
}
.box {
	width: 100%;
	padding: 10px;
	color: #FEFDEC;
	text-align: center;
	display: inline-block;
}
.section-head {
	margin-top: 15px;
	margin-bottom: 25px;
}
/*
	content
*/
.content {
	padding: 32px;
}
/*
	side menu
*/
.side-menu {
	margin: auto;
	text-align: center;
}
.side-menu > ul {
	width: 100%;
	margin: 0 16px 16px 16px;
	list-style: none;
	text-align: left;
	display: inline-block;
	list-style-position: inside;
}
.side-menu > ul > li > a::before {
	color: #89293D;
	width: 0;
    	height: 0;
    	margin: 5px;
    	display: inline-block;
    	vertical-align: middle;
    	transition-delay: 300ms;
    	border-left: 0.25em solid transparent;
	border-right: 0.25em solid transparent;
    	border-top: 0.5em solid currentColor;
}
.side-menu > ul > li {
	width: 100%;
}
.side-menu > ul > li > a {
	display: inline-block;
	font-size: 16px;
	padding: 8px 16px;
	font-weight: normal;
	width: 100%;
}
.side-menu > ul > li:hover {
	background: rgba(0,0 ,0,0.1);
}
.indent li{
	margin-left: 25px;
	list-style: none;
}
/*
	buttons
*/
.button.green {
	margin: auto;
	display: block;
	color: #FFFCED;
	padding: 1rem 2rem;
	background: #B0BF7F;
}
.button.green:hover {
	color: #fff;
	opacity: 0.9;
	border-radius: 3px;
	background: #B0BF7F;
}
.button.white {
	background: none;
	color: #FFFCED;
	border: 1px solid #FFFCED;
	text-decoration: none;
}
.button.white:hover {
	background: none;
	border: 2px solid #FFFCED;
	color: #fff;
}
/*
	testimonial slide
*/
.testimonial .slide-text {
	position: relative;
	text-align: center;
	padding-top: 15px;
	color: #FFFCED;
}
.testimonial .slide-text h5 {
	font-size: 1rem;
}
.bg-image {
	width: 100%;
	padding: 8px;
	background: url('http://res.cloudinary.com/dbc2wlvk8/image/upload/b_rgb:578da0,c_scale,fl_any_format.lossy,e_tint,o_36,w_1920/v1471394449/rose-house/DSC00077.jpg') no-repeat;
}
.slick-dots li button::before {
	color: white;
}
.slick-dots li.slick-active button:before {
	color: white;
}
.verify-insurance {
	padding: 25px 0 25px 0;
	text-align: center;
}
.insurance-logos {
	padding: 25px;
}
/*
	TEAM PAGE
*/
@mixin profile-circles($bgImage, $borderRd: 50%, $border: solid 5px #89293D, $hw: 75px, $bgSize: cover, $bgPosition: center) {
    border-radius: $borderRd;
    border: $border;
    height: $hw;
    width: $hw;
	background: $bgImage;
    background-size: $bgSize;
    background-position: $bgPosition;
}

.profile-circle.marcie {
	@include profile-circles(url("http://res.cloudinary.com/dbc2wlvk8/image/upload/c_fill,g_face,h_300,q_60,w_300/v1475687642/rose-house/profile-picture/Marcie_Chambers_Ph.D.jpg"));
}
.profile-circle.arshad {
	@include profile-circles (url("http://res.cloudinary.com/dbc2wlvk8/image/upload/c_fill,g_face,h_300,q_60,w_300/v1475687598/rose-house/profile-picture/Dr.jpg"));
}
.profile-circle.ann {
	@include profile-circles (url("http://res.cloudinary.com/dbc2wlvk8/image/upload/c_fill,g_face,h_300,q_60,w_300/v1475687600/rose-house/profile-picture/Ann_Matino_Executive_Director.jpg"));
}
.profile-circle.valerie {
	@include profile-circles (url("http://res.cloudinary.com/dbc2wlvk8/image/upload/c_fill,g_face,h_300,q_60,w_300/v1475687689/rose-house/profile-picture/Valerie_Andrews_Ph.D.jpg"));
}
.profile-circle.terri {
	@include profile-circles (url("http://res.cloudinary.com/dbc2wlvk8/image/upload/c_fill,g_face,h_300,q_60,w_300/v1475687679/rose-house/profile-picture/Terri_Kirwan_LPC_Primary_Therapist.jpg"));
}
.profile-circle.jennifer {
	@include profile-circles (url("http://res.cloudinary.com/dbc2wlvk8/image/upload/c_fill,g_face,h_300,w_300/v1473783008/rose-house/woman.png"));
}
.profile-circle.brenda {
	@include profile-circles (url("http://res.cloudinary.com/dbc2wlvk8/image/upload/c_fill,g_face,h_300,w_300/v1473783008/rose-house/woman.png"));
}
.profile-circle.kathy {
	@include profile-circles (url("http://res.cloudinary.com/dbc2wlvk8/image/upload/c_fill,g_faces,h_300,q_60,w_300/v1475687603/rose-house/profile-picture/Kathy_Pahler_Community_Outreach_Yoga_Instructor.jpg"));
}
.profile-circle.kristine {
	@include profile-circles (url("http://res.cloudinary.com/dbc2wlvk8/image/upload/c_fill,g_face,h_300,q_60,w_300/v1475687629/rose-house/profile-picture/Kristine_Rosen_Clinical_Utilization_Specialist.jpg"));
}
.profile-circle.rebecca {
	@include profile-circles (url("http://res.cloudinary.com/dbc2wlvk8/image/upload/c_fill,g_face,h_300,q_60,w_300/v1475687651/rose-house/profile-picture/Rebecca_Glasmann_Family_Referral_Coordinator.jpg"));
}
.profile-circle.lindsey {
	@include profile-circles (url("http://res.cloudinary.com/dbc2wlvk8/image/upload/c_fill,g_face,h_300,q_60,w_300/v1475687661/rose-house/profile-picture/Lindsey_Amott_Executive_Assistant.jpg"));
}
.profile-circle.suzie {
	@include profile-circles (url("http://res.cloudinary.com/dbc2wlvk8/image/upload/c_fill,g_face,h_300,q_60,w_300/v1475687674/rose-house/profile-picture/Suzie_Howe_Step_Down_House_Manager.jpg"));
}
.profile-circle.allison {
	@include profile-circles (url("http://res.cloudinary.com/dbc2wlvk8/image/upload/c_fill,g_faces,h_300,q_60,w_300/v1475687551/rose-house/profile-picture/Allison_Hein_House_Manager.png"));
}
.profile-circle.aubrey {
	@include profile-circles (url("http://res.cloudinary.com/dbc2wlvk8/image/upload/c_fill,g_face,h_300,q_60,w_300/v1475687614/rose-house/profile-picture/Aubrey_Snee_Psychiatric_Technician.jpg"));
}
.profile-circle.danielle {
	@include profile-circles (url("http://res.cloudinary.com/dbc2wlvk8/image/upload/c_fill,g_face,h_300,q_60,w_300/v1475687619/rose-house/profile-picture/Danielle_Jones_Psychiatric_Technician.jpg"));
}
.profile-circle.hannah {
	@include profile-circles (url("http://res.cloudinary.com/dbc2wlvk8/image/upload/c_fill,g_face,h_300,q_60,w_300/v1475687603/rose-house/profile-picture/Hannah_Kearney_Psychiatric_Technician.jpg"));
}
.profile-circle.megan {
	@include profile-circles (url("http://res.cloudinary.com/dbc2wlvk8/image/upload/c_fill,g_face,h_300,q_60,w_300/v1475687646/rose-house/profile-picture/Megan_Ramos_Psychiatric_Technician.jpg"));
}
.profile-circle.sandra {
	@include profile-circles (url("http://res.cloudinary.com/dbc2wlvk8/image/upload/c_fill,g_face,h_300,q_60,w_300/v1475687663/rose-house/profile-picture/Sandra_Schulz_Psychiatric_Technician.jpg"));
}
.profile-circle.tanisha {
	@include profile-circles (url("http://res.cloudinary.com/dbc2wlvk8/image/upload/c_fill,g_face,h_300,q_60,w_300/v1475687687/rose-house/profile-picture/Tanisha_Cordova_Psychiatric_Technician.jpg"));
}
.profile-circle.tj {
	@include profile-circles (url("http://res.cloudinary.com/dbc2wlvk8/image/upload/c_fill,g_face,h_300,q_60,w_300/v1475687682/rose-house/profile-picture/TJ_Ritner_Psychiatric_Technician.jpg"));
}

/*
	footer
*/
.footer {
	background: url('http://res.cloudinary.com/dbc2wlvk8/image/upload/b_rgb:c95468,c_fill,g_center,h_900,o_53,w_1920/v1469641634/rose-house/8173917606_17e737fc7f_o_dzhgzn.jpg') no-repeat fixed;
	color: #fff;
	padding: 25px;
	background-size: cover;
}
.footer p{
	margin-bottom: .5rem;
}

.footer h3{
	color: #fff;
}
.bottom-foot {
	height: 75px;
	width: 100%;
	background-color: #E54C66;
	padding: 25px;
}
.bottom-foot p{
	font-size: 12px;
	color: #fff;
}
.bottom-foot a{
	font-size: 12px;
	color: #fff;
}
.contact-section {
	padding-top: 25px;
}
/*
	foundation custom
*/
.thumbnail:hover, .thumbnail:focus {
	box-shadow: none;
}
.dropdown.menu > li.is-dropdown-submenu-parent > a::after{
	border-color: #FFFCED transparent transparent;
}
.is-dropdown-submenu .is-dropdown-submenu-parent.opens-right > a::after {
	border-color: transparent transparent transparent #FFFCED
}
/*
	dropdowns
*/
.dropdown.menu > li.opens-right > .is-dropdown-submenu {
	top: 55px;
}
.is-dropdown-submenu {
	border: none;
}

/* Small screens  */
@media only screen and (max-width: 640px) {
	.contact-widget-side {
		display: none;
	}
	.top > div:nth-child(2) {
		top: 8px;
		position: relative;
	}
	.top > div:nth-child(1) > a {
		display: block;
	}
	.footer{
		background: url('http://res.cloudinary.com/dbc2wlvk8/image/upload/b_rgb:c95468,c_fill,g_center,h_900,o_53,w_1920/v1469641634/rose-house/8173917606_17e737fc7f_o_dzhgzn.jpg') no-repeat;
	}
}

@media screen and (max-width: 900px) {
	.program-icons {
		background: #89293D;
	}
}

@media screen and (max-width: 940px) {
	.logo {
		display: none;
	}
	.top > div:nth-child(1) {
		margin-left: 8px;
	}
}

/* Medium screens */
@media only screen and (max-width: 1024px) { }

/* Large screens */
@media only screen and (min-width: 1025px) { }
