/*
	blue: 578DA0
	green: 859455
	white: FFFCED
	pink: E54C66
	rose: 89293D
*/
* {
	margin: 0;
	padding: 0;
    font-size: 16px;
	box-sizing: border-box;
	font-family: sans-serif;
}
body {
	margin: 0;
	padding: 0;
	max-width: 100%;
	overflow-x: hidden;
}
h1, h2, h3, h4 {
    margin-top: 0;
	color: inherit;
    line-height: 1.4;
	font-family: serif;
    margin-bottom: .5rem;
	text-transform: capitalize;
	text-rendering: optimizeLegibility;
}
h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2.3rem;
}
h3 {
	font-weight: 400;
	font-size: 1.6rem;
}
h4 {
	font-size: 1.4rem;
}
p, li {
	color: inherit;
	line-height: 1.6rem;
	margin-bottom: 0.5rem;
}
a {
	color: inherit;
	display: inline-block;
	text-decoration: none;
}
a:hover {
	color: #E54C66;
}
ul {
    margin-left: 1.25rem;
}
ul.a {
	list-style: square;
}
ul.b {
	list-style: circle;
}
ul.c {
	list-style: none;
}

.c > li ::before {
	margin-right: 0.5rem;
	content: url('./assets/svg/check.svg');
}
object {
	pointer-events: none;
}
video, img {
	width: 100%;
	border-radius: 3px;
}
section {
	display: inherit;
	max-width: 1240px;
	margin-left: auto;
	margin-right: auto;
	padding: 6vh 3vw 6vh 3vw;
}
hr {
	height: 0;
	clear: both;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	margin: 1.25rem auto;
	border-bottom: 1px solid #cacaca;
}
cite {
	display: block;
    color: #8a8a8a;
    font-size: .9rem;
	font-weight: bold;
	font-style: normal;
	margin-top: 1.5rem;
}
.row {
	margin-left: auto;
	margin-right: auto;
}
/* .content {
	padding: 30px;
} */
.main-image {
	width: 100%;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.logo {
	left: 8px;
	z-index: 100;
	height: 140px;
	padding: 0.6rem;
	position: absolute;
	background-color: #fff;
	border-radius: 0 0 5px 5px;
	box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
}
.media {
	padding: 6px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.media > a {
	margin: 0 3px;
	transition: background-color 300ms ease;
}
.media > a > object {
	height: 27px;
	padding: 0 3px;
	vertical-align: middle;
}
.nav-bar {
	z-index: 1;
	color: #FFF;
	box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
}
.nav-tool {
	background: #E54C66;
}
.nav-list-main {
	background: #E54C66;
	text-align: right !important;
}
.nav-list-sub {
	z-index: 1;
	background: #E54C66;
	box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
}
.nav-bar li > a {
	color: #FFFCED;
	padding: 16px 32px !important;
}

legend {
	padding: 0.5rem;
    margin: 0.5rem 1rem;
}
fieldset {
	padding: 1rem;
}
fieldset > fieldset {
	border-style: solid;
	border-color: lightgrey;
}
input, textarea {
	width: 100%;
	border: none;
	padding: 0.5rem;
	margin: 0.5rem auto;
	border-bottom: 1px solid #cacaca;
}
input:focus, textarea:focus {
	outline: none;
}
input[type='submit'] {
	width: auto;
}
.contact-widget {
	position: relative;
}
.contact-widget-body.fixed {
	top: 0;
	position: fixed;
}
.contact-widget-body {
	right: 1rem;
	position: absolute;
	text-align: center;
	vertical-align: middle;
	background-color: #89293D;
	padding: 10px 20px 5px 20px;
	border-radius: 0px 0px 10px 10px;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}
.contact-widget-phone {
	color: whitesmoke;
	font-size: 1.6rem;
}
.contact-widget-title {
	color: #D6768A;
	font-weight: bold;
}
.contact-widget-icon {
	height: 27px;
	color: #D6768A;
	vertical-align: middle;
	pointer-events: none;
}

.contact-slogan{
	padding-bottom: 25px;
}
.contact-bar{
	padding-top: 10px;
	position: relative;
	background-color: #E54C66;
}
.contact-bar input{
	color: #FEFDEC;
}
.rose-bg {
	color: white;
	width: 100%;
	padding: 25px;
	background-color: #89293D;
}
.blue-bg {
	color: white;
	width: 100%;
	padding: 25px;
	background-color: #578DA0;
}
.green-bg {
	width: 100%;
	padding: 25px;
	background-color: #859455;
}
.white-bg {
	width: 100%;
	padding: 25px;
	background-color: white
}
.white-bg h1, .white-bg h2, .white-bg h3 {
	color: #89293D;
}
.light-bg {
	width: 100%;
	padding: 25px;
	background-color: whitesmoke;
}
.light-bg h1, .light-bg h2, .light-bg h3 {
	color: #89293D;
}
.mobile-program-icons {
	text-align: center;
	margin-top: 1rem;
}
.callout {
	text-align: center;

}
.callout span {
	font-size: 2.6rem;
	color: #89293D;
}
.callout.secondary {
	border:none;
	color: #fff;
	border-radius: 5px;
	background-color: #89293D;
}
.call-outs > li {
	margin: 0.5rem;
	padding: 0.5rem;
	border-radius: 3px;
	background: rgba(176,191,127,0.2);
}
.card {
	background-color: white;
	padding: 1rem;
	box-shadow: 1px 1px 3px 1px lightgray;
	border-radius: 3px;
	min-width: 275px;
	margin: 1rem auto;
	color: black;
}
.card > div {
	text-align: center;
	margin: auto;
}
.card p:nth-child(2) {
	margin-top: 2rem;
}
.title {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.title > div {
	background-color: white;
	box-shadow: 1px 1px 3px 1px lightgray;
	height: 75px;
	width: 75px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
}
.section-head {
	margin-top: 15px;
	margin-bottom: 25px;
}
/*
	side menu
*/
.side-menu {
	margin: auto;
	text-align: center;
}
.side-menu > ul {
	width: 100%;
	text-align: left;
	list-style: none;
	display: inline-block;
	margin: 0 16px 16px 16px;
	list-style-position: inside;
}
.side-menu > ul > li > a::before {
	content: '';
	width: 0;
	height: 0;
	margin: 5px;
	color: #89293D;
	display: inline-block;
	vertical-align: middle;
	transition-delay: 300ms;
	border-top: 0.5em solid currentColor;
	border-left: 0.25em solid transparent;
	border-right: 0.25em solid transparent;
}
.side-menu > ul > li {
	width: 100%;
}
.side-menu > ul > li > a {
	width: 100%;
	padding: 8px 16px;
	font-weight: normal;
	display: inline-block;
}
.side-menu > ul > li:hover {
	background: rgba(0,0 ,0,0.1);
}
.indent li {
	margin-left: 25px;
	list-style: none;
}
/*
	buttons
*/
.button {
	margin: 1rem auto;
	color:whitesmoke;
	font-weight: bold;
	background-color: #E54C66;
	padding: 0.75rem 1rem;
	border-radius: 3px;
}
.button:hover {
	opacity: 0.9;
	color:whitesmoke;
	background-color: #E54C66;
}
.button.green {
	color: whitesmoke;
	background: #859455;
	/* font-weight: bold; */
}
.button.green:hover {
	color: #fff;
	opacity: 0.9;
	border-radius: 3px;
	background: #859455;
}
.button.bordered {
	background: none;
	text-decoration: none;
	border-width: 2px;
	border-style: solid;
}
.button.bordered:hover {
	background: rgba(137,41,61,0.1);
}
.button.bordered.white {
	color:whitesmoke;
	border-color: whitesmoke;
}
.button.bordered.dark {
	color:#89293D;
	border: 1px solid #89293D;
}
.button.flat {
	background-color: transparent;
	color: black;
	border: none;
	margin: 0.5rem auto;
}
.button.flat:hover {
	color: rgba(0,0,0,0.8);
	cursor: pointer;
}
/*
	imonial slide
*/
.testimonial {
	min-height: 310px;
	position: relative;
	color: whitesmoke;
	text-align: center;
}
.testimonial > div {
	/* left: 50%; */
	color: black;
	opacity: 0;
	position: absolute;
	transition: opacity 900ms ease;
}
.testimonial > div.active {
	opacity: 1;
}
.verify-insurance {
	text-align: center;
	padding: 25px 0 25px 0;
}
.insurance-logos {
	margin: auto;
	padding: 25px;
	max-width: 45rem;
}
/*
	footer
*/
footer {
	background-color: #89293D;
	display: flex;
	flex-direction: column;
	color: white;
	align-items: center;
}
/* .top-foot {
	color: whitesmoke;
	background-size: cover;
	background: url('https://res.cloudinary.com/dbc2wlvk8/image/upload/b_rgb:c95468,f_auto,c_fill,g_center,h_900,o_53,w_1920/v1469641634/rose-house/8173917606_17e737fc7f_o_dzhgzn.jpg') no-repeat;
} */
.center {
	max-width: 50rem;
	flex-wrap: wrap;
	display: flex;
}
.center > div {
	margin: 1rem auto;
	justify-content: center;
	flex-wrap: wrap;
}

footer h2, footer a {
	color: white;
}
.contact-section {
	padding-top: 30px;
}

/*
	dropdowns
*/
.dropdown.menu > li.opens-right > .is-dropdown-submenu {
	top: 55px;
}
.is-dropdown-submenu {
	border: none;
}
/*
	blog
*/
.article {
	padding: 1rem;
	margin-bottom: 1rem;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
.article > img {
	width: 100%;
	height: 250px;
	object-fit: cover;
}
.articles > *:last-child {
	border-bottom: none;
}
/*
	staff
*/
.staff {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.profile {
    width: 30%;
    margin: 9px;
	flex: 0 1 auto;
	min-width: 190px;
}
.profile img {
    width: 100%;
	vertical-align: middle;
 }
.profile-name {
	padding: 0.5rem;
	margin-top: -5px;
	background-color: #89293D;
}
.profile-name > div:nth-child(1) {
	font-size: 1.3rem;
}
.profile-name > div:nth-child(1), .profile-name > div:nth-child(2) {
    font-weight: 300;
    color: whitesmoke;
}
.profile-toggle {
	padding: 1rem;
	cursor: pointer;
    color: whitesmoke;
	text-align: center;
	margin-bottom: 0.3rem;
	background-color: #E54C66;
}
.profile-description {
	top: 0;
	left: 0;
	opacity: 1;
	width: 100%;
	height: 100%;
	display: flex;
	position: fixed;
    align-items: center;
    flex-direction: column;
    justify-content: center;
	transition: all 300ms ease;
	transform: translateY(100%);
	background: rgba(0, 0, 0, 0.3);
}
.profile-wrap {
	width: 50%;
	padding: 2rem;
	/* display: flex; */
	max-width: 80%;
	max-height: 80%;
	margin: 8% auto;
	overflow-y: auto;
	min-width: 300px;
    flex-direction: column;
	background-color: whitesmoke;
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.6);
}
.profile-wrap img {
	max-width: 150px;
	float: left;
	margin-right: 1rem;
}
.profile-close {
	margin: 1rem;
	align-self: flex-end;
}
.profile-description.active {
	z-index: 100;
	transform: translateY(0%);
}
.profile-circle {
	margin: auto;
    width: 150px;
    height: 150px;
	overflow: hidden;
	border-radius: 50%;
    background-size: cover;
	border: solid 5px #89293D;
    background-position: center;
}
.gallery > img {
	width: 150px;
	margin: 3px 1px;
	display: inline-block;
	border: solid 3px #fff;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 940px) {
	.contact-widget-body {
		right: 1rem;
		bottom: 1rem;
		padding: 1rem;
		position: fixed;
		border-radius: 50%;
		background-color: #859455;
		box-shadow: 1px 1px 16px 1px rgba(0, 0, 0, 0.6);
	}
	.contact-widget-icon {
		height: 27px;
		color: whitesmoke;
	}
	.contact-widget-phone, .contact-widget-title {
		display: none;
	}
	.media {
		justify-content: flex-start;
	}
	.logo {
		top: 31px;
		right: 8px;
		left: initial;
		height: 80px;
	}
	.logo > a > img {
    	height: 70px;
	}
}
@media screen and (max-width: 900px) {

}
@media screen and (max-width: 600px) {
	.logo {
		top: 39px;
	}
	.hide-sm {
		display: none;
	}
	.testimonial {
		height: 400px;
	}
	.testimonial > div {
		width: 100%;
	}
	.gallery > img {
		width: 90%;
		display: block;
		margin: 4px auto;
	}
	.profile-wrap img {
		max-width: 100%;
		float: left;
		margin-right: 0;
	}
	.profile {
		width: 80%;
	}
}
