/*
	blue: 578DA0
	green: B0BF7F
	white: FFFCED
	pink: E54C66
	rose: 89293D
*/
body > * {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	max-width: 100%;
	overflow-x: hidden;
}
p, li, a {
	line-height: 1.8rem;
	font-weight: lighter;
}
h1, h2 {
	color: #89293D;
}
a {
	color: #89293D;
}
a:hover {
	color: #E54C66;
}
ul > ul {
	list-style: circle;
}
ul.a {
	list-style: square;
}
ul.b {
	list-style: circle;
}
ul.c {
	list-style: none;
}
.center {
	color: #FFFCED;
	text-align: center;
	line-height: .9rem;
}
.icon {
	padding: 9px;
	display: inline;
	font-size: 1.3rem;
}
.content {
	padding: 30px;
}
.logo {
	left: 8px;
	z-index: 100;
	height: 150px;
	position: absolute;
	background-color: #fff;
	border-radius: 0 0 5px 5px;
	box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
}
.logo > a {
	display: block;
}
/*
	top
*/
.top {
	width: 100%;
	display: block;
	min-height: 32px;
	padding-top: 8px;
}
.top > div:nth-child(1) {
	margin-left: 232px;
	display: inline-block;
}
.top > div:nth-child(2) {
	float: right;
	margin-right: 25px;
	display: inline-block;
}
/*
	nav
*/
nav {
	box-sizing: initial;
}
.nav-bar {
	z-index: 1;
	color: #FFF;
	box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
}
.nav-tool {
	background: #E54C66;
}
.nav-list-main {
	background: #E54C66;
	text-align: right !important;
}
.nav-list-sub {
	z-index: 1;
	background: #E54C66;
	box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
}
.nav-bar li > a {
	color: #FFFCED;
	padding: 16px 32px !important;
}
/*
	globals
*/
.float-right {
	float: right;
}
.float-left {
	float: left;
}
.jumbo {
	width: 100%;
}
.contact-form input[type="date"] {
	text-align: center;
}
.contact-form textarea, .insurance-form textarea {
	max-width: 630px;
}
.contact-form input, .contact-form textarea, .contact-form input:focus, .contact-form textarea:focus {
	border: none;
	border-radius: 0;
	box-shadow: none;
	border-bottom: 1px solid #cacaca;
}
.contact-form input:focus, .contact-form textarea:focus {
	border-bottom: 2px solid #8a8a8a;
}
.contact-form input:focus::-webkit-input-placeholder, .contact-form textarea:focus::-webkit-input-placeholder {
   color: #8a8a8a;
}
.contact-form input:focus:-moz-placeholder, .contact-form textarea:focus:-moz-placeholder {
	color: #8a8a8a;
}
.contact-form input:focus::-moz-placeholder, .contact-form textarea:focus::-moz-placeholder {
	color: #8a8a8a;
}
.contact-form input:focus:-ms-input-placeholder, .contact-form textarea:focus:-ms-input-placeholder {
	color: #8a8a8a;
}
.contact-widget {
	color: whitesmoke;
	line-height: 10px;
	text-align: center;
	display: inline-block;
	background-color: #89293D;
	padding: 10px 20px 5px 20px;
	border-radius: 0px 0px 10px 10px;
	box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
}
.contact-widget p {
	line-height: 10px;
	margin-top: 12px;
	color: #D6768A;
}
.contact-widget h4 {
	line-height: 12px;
	color: whitesmoke;
}
.contact-widget-home > div {
	float: right;
	margin-right: 8px;
}
.contact-widget-side > div {
	width: 90%;
	padding: 5px;
	max-width: 200px;
}
.contact-widget-side h4 {
	font-size: 1rem;
}
.slogan {
	width: 100%;
	bottom: 0px;
	position: absolute;
	text-align: center;
}
.slogan > div {
	max-width: 600px;
	margin: auto;
	color: #FFFCED;
	display: inline-block;
	padding: 10px 10px 0 10px;
	background-color: rgba(0, 0, 0, 0.5);
}
/*
	media
*/
.facebook {
	color: #3b5998;
}
.instagram {
	color: #C92228;
}
.youtube {
	color: #dd4b39;
}
.facebook:hover {
	background-color: #3b5998;
}
.instagram:hover {
	background-color: #a10bac;
}
.youtube:hover {
	background-color: #dd4b39;
}
.facebook, .instagram, .youtube {
	background-color: #fff;
	transition: background-color 300ms ease;
}
.facebook:hover, .instagram:hover, .youtube:hover {
	color: #fff;
}
.contact-slogan{
	padding-bottom: 25px;
}
.contact-bar{
	padding-top: 10px;
	position: relative;
	background-color: #E54C66;
}
.contact-bar input{
	color: #FEFDEC;
}
.program-icons {
	width: 100%;
	padding: 25px;
	background-repeat: no-repeat;
	background-image: url("http://res.cloudinary.com/dbc2wlvk8/image/upload/c_scale,fl_any_format.lossy,h_500/v1469643887/rose-house/RoseProgramBG_xdwe0e.png");
}
.mobile-program-icons {
	text-align: center;
	margin-top: 1rem;
}
.callout.secondary {
	border:none;
	color: #fff;
	border-radius: 5px;
	background-color: #89293D;
}
.call-outs > li{
	background: rgba(176,191,127,0.3);
	margin: 0.5rem;
	padding: 0.5rem;
	border-radius: 8px;
}
.remove-RL-padding {
	padding-left: 0;
	padding-right: 0;
}
.box {
	width: 100%;
	padding: 10px;
	color: #FEFDEC;
	text-align: center;
	display: inline-block;
}
.section-head {
	margin-top: 15px;
	margin-bottom: 25px;
}
/*
	side menu
*/
.side-menu {
	margin: auto;
	text-align: center;
}
.side-menu > ul {
	width: 100%;
	text-align: left;
	list-style: none;
	display: inline-block;
	margin: 0 16px 16px 16px;
	list-style-position: inside;
}
.side-menu > ul > li > a::before {
	content: '';
	width: 0;
	height: 0;
	margin: 5px;
	color: #89293D;
	display: inline-block;
	vertical-align: middle;
	transition-delay: 300ms;
	border-top: 0.5em solid currentColor;
	border-left: 0.25em solid transparent;
	border-right: 0.25em solid transparent;
}
.side-menu > ul > li {
	width: 100%;
}
.side-menu > ul > li > a {
	display: inline-block;
	font-size: 16px;
	padding: 8px 16px;
	font-weight: normal;
	width: 100%;
}
.side-menu > ul > li:hover {
	background: rgba(0,0 ,0,0.1);
}
.indent li{
	margin-left: 25px;
	list-style: none;
}
/*
	buttons
*/
.button.green {
	margin: auto;
	color:whitesmoke;
	padding: 1rem 2rem;
	background: #B0BF7F;
}
.button.green:hover {
	color: #fff;
	opacity: 0.9;
	border-radius: 3px;
	background: #B0BF7F;
}
.button.white {
	background: none;
	color:whitesmoke;
	border: 1px solid whitesmoke;
	text-decoration: none;
}
.button.white:hover {
	background: none;
	border: 2px solidwhitesmoke;
	color: whitesmoke;
}
/*
	testimonial slide
*/
.testimonial {
	width: 100%;
	height: 300px;
	padding: 1.3rem;
	color: whitesmoke;
	text-align: center;
	background: url('https://res.cloudinary.com/dbc2wlvk8/image/upload/b_rgb:578da0,f_auto,c_scale,fl_any_format.lossy,e_tint,o_36,w_1920/v1471394449/rose-house/DSC00077.jpg') no-repeat;
}
.testimonial > div {
	left: 50%;
	opacity: 0;
	width: 80%;
	padding: 1.3rem;
	position: absolute;
	transform: translate(-50%);
	transition: opacity 900ms ease;
}
.testimonial > div.active {
	opacity: 1;
}
.verify-insurance {
	text-align: center;
	padding: 25px 0 25px 0;
}
.insurance-logos {
	margin: auto;
	padding: 25px;
	max-width: 45rem;
}
/*
	footer
*/
.top-footer {
	color: whitesmoke;
	padding: 25px;
	background-size: cover;
	background: url('http://res.cloudinary.com/dbc2wlvk8/image/upload/b_rgb:c95468,c_fill,g_center,h_900,o_53,w_1920/v1469641634/rose-house/8173917606_17e737fc7f_o_dzhgzn.jpg') no-repeat;
}
.top-footer p {
	margin-bottom: 0.6rem;
}
.top-footer h3 {
	color: whitesmoke;
}
.bottom-foot {
	width: 100%;
	padding: 30px;
	text-align: center;
	background-color: #89293D;
}
.bottom-foot p {
	color: whitesmoke;
}
.bottom-foot a {
	color: whitesmoke;
}
.contact-section {
	padding-top: 30px;
}
/*
	foundation custom
*/
.thumbnail:hover, .thumbnail:focus {
	box-shadow: none;
}
.dropdown.menu > li.is-dropdown-submenu-parent > a::after{
	border-color: #FFFCED transparent transparent;
}
.is-dropdown-submenu .is-dropdown-submenu-parent.opens-right > a::after {
	border-color: transparent transparent transparent #FFFCED
}
/*
	dropdowns
*/
.dropdown.menu > li.opens-right > .is-dropdown-submenu {
	top: 55px;
}
.is-dropdown-submenu {
	border: none;
}
/*
	blog
*/
.articles > div {
	padding: 1rem;
	margin-bottom: 1rem;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
.articles > div:nth-last-of-type(1) {
	border-bottom: none;
}
/*
	team
*/
.profile-circles {
    width: 75px;
    height: 75px;
	border-radius: 50%;
    background-size: cover;
	border: solid 5px #89293D;
    background-position: center;
}
.profile-circle.marcie {
	background-image: url("http://res.cloudinary.com/dbc2wlvk8/image/upload/c_fill,g_face,h_300,q_60,w_300/v1475687642/rose-house/profile-picture/Marcie_Chambers_Ph.D.jpg");
}
.profile-circle.arshad {
	background-image: url("http://res.cloudinary.com/dbc2wlvk8/image/upload/c_fill,g_face,h_300,q_60,w_300/v1475687598/rose-house/profile-picture/Dr.jpg");
}
.profile-circle.ann {
	background-image: url("http://res.cloudinary.com/dbc2wlvk8/image/upload/c_fill,g_face,h_300,q_60,w_300/v1475687600/rose-house/profile-picture/Ann_Matino_Executive_Director.jpg");
}
.profile-circle.valerie {
	background-image: url("http://res.cloudinary.com/dbc2wlvk8/image/upload/c_fill,g_face,h_300,q_60,w_300/v1475687689/rose-house/profile-picture/Valerie_Andrews_Ph.D.jpg");
}
.profile-circle.larry {
	background-image: url("https://res.cloudinary.com/dbc2wlvk8/image/upload/c_fill,f_auto,g_face,h_900,w_600/v1542239844/rose-house/profile-picture/Larry_Algiene_photo.jpg");
}
.profile-circle.jennifer {
	background-image: url("http://res.cloudinary.com/dbc2wlvk8/image/upload/c_fill,g_face,h_300,w_300/v1473783008/rose-house/woman.png");
}
.profile-circle.brenda {
	background-image: url("http://res.cloudinary.com/dbc2wlvk8/image/upload/c_fill,g_face,h_300,w_300/v1473783008/rose-house/woman.png");
}
.profile-circle.kathy {
	background-image: url("http://res.cloudinary.com/dbc2wlvk8/image/upload/c_fill,g_faces,h_300,q_60,w_300/v1475687603/rose-house/profile-picture/Kathy_Pahler_Community_Outreach_Yoga_Instructor.jpg");
}
.profile-circle.kristine {
	background-image: url("http://res.cloudinary.com/dbc2wlvk8/image/upload/c_fill,g_face,h_300,q_60,w_300/v1475687629/rose-house/profile-picture/Kristine_Rosen_Clinical_Utilization_Specialist.jpg");
}
.profile-circle.rebecca {
	background-image: url("http://res.cloudinary.com/dbc2wlvk8/image/upload/c_fill,g_face,h_300,q_60,w_300/v1475687651/rose-house/profile-picture/Rebecca_Glasmann_Family_Referral_Coordinator.jpg");
}
.profile-circle.lindsey {
	background-image: url("http://res.cloudinary.com/dbc2wlvk8/image/upload/c_fill,g_face,h_300,q_60,w_300/v1475687661/rose-house/profile-picture/Lindsey_Amott_Executive_Assistant.jpg");
}
.profile-circle.patty {
	background-image: url("https://res.cloudinary.com/dbc2wlvk8/image/upload/c_fill,f_auto,fl_lossy,g_face,h_450,w_300/v1528495301/rose-house/profile-picture/Patty_S_photo_professional.jpg");
}
.profile-circle.allison {
	background-image: url("http://res.cloudinary.com/dbc2wlvk8/image/upload/c_fill,g_faces,h_300,q_60,w_300/v1475687551/rose-house/profile-picture/Allison_Hein_House_Manager.png");
}
.profile-circle.aubrey {
	background-image: url("http://res.cloudinary.com/dbc2wlvk8/image/upload/a_auto_right,c_fill,fl_any_format.lossy,g_face,h_900,w_600/v1492817035/rose-house/profile-picture/AubreySnee.jpg");
}
.profile-circle.danielle {
	background-image: url("http://res.cloudinary.com/dbc2wlvk8/image/upload/c_fill,g_face,h_300,q_60,w_300/v1475687619/rose-house/profile-picture/Danielle_Jones_Psychiatric_Technician.jpg");
}
.profile-circle.hannah {
	background-image: url("http://res.cloudinary.com/dbc2wlvk8/image/upload/a_auto_right,c_fill,fl_any_format.lossy,g_face,h_900,w_600/v1492816332/rose-house/profile-picture/HannahKearney.jpg");
}
.profile-circle.megan {
	background-image: url("http://res.cloudinary.com/dbc2wlvk8/image/upload/a_auto_right,c_fill,fl_any_format.lossy,g_face,h_900,w_600/v1492816333/rose-house/profile-picture/MeganRamos.jpg");
}
.profile-circle.sandra {
	background-image: url("http://res.cloudinary.com/dbc2wlvk8/image/upload/c_fill,g_face,h_300,q_60,w_300/v1475687663/rose-house/profile-picture/Sandra_Schulz_Psychiatric_Technician.jpg");
}
.profile-circle.tanisha {
	background-image: url("http://res.cloudinary.com/dbc2wlvk8/image/upload/c_fill,g_face,h_300,q_60,w_300/v1475687687/rose-house/profile-picture/Tanisha_Cordova_Psychiatric_Technician.jpg");
}
.profile-circle.cailin {
	background-image: url("https://res.cloudinary.com/dbc2wlvk8/image/upload/c_scale,f_auto,fl_any_format.lossy,w_600/v1512584237/rose-house/profile-picture/20170620_165047.jpg");
}
.profile-circle.tj {
	background-image: url("http://res.cloudinary.com/dbc2wlvk8/image/upload/a_auto_right,c_fill,fl_any_format.lossy,h_900,w_600/v1492817039/rose-house/profile-picture/TJRitner.jpg");
}
.profile-circle.craig {
	background-image: url("http://res.cloudinary.com/dbc2wlvk8/image/upload/c_fill,fl_any_format.lossy,g_face,h_150,w_150/v1476468361/rose-house/profile-picture/Craig_Fiorni_Picture.jpg");
}
.profile-circle.jenae {
	background-image: url("http://res.cloudinary.com/dbc2wlvk8/image/upload/c_fill,fl_any_format.lossy,h_500,w_333/v1492016587/rose-house/profile-picture/Jenae-McCall-Rose-House.jpg");
}
.profile-circle.elaine {
	background-image: url("https://res.cloudinary.com/dbc2wlvk8/image/upload/a_auto_right,c_fill,fl_any_format.lossy,g_face,h_900,w_600/v1492817302/rose-house/profile-picture/EllaineHarris.jpg");
}
.profile-circle.sarah {
	background-image: url("https://res.cloudinary.com/dbc2wlvk8/image/upload/a_auto_right,c_fill,fl_any_format.lossy,g_face,h_900,w_600/v1492816334/rose-house/profile-picture/Sarah_Schumacher.jpg");
}
.profile-circle.barbara {
	background-image: url("https://res.cloudinary.com/dbc2wlvk8/image/upload/c_scale,f_auto,h_900,w_600/v1533316642/rose-house/Barbara_Flood_pic.jpg");
}
.profile-circle.alex {
	background-image: url("https://res.cloudinary.com/dbc2wlvk8/image/upload/c_fill,f_auto,g_face,h_900,w_600/v1542240724/rose-house/profile-picture/Alex_Griffin_photo.jpg");
}
.profile-circle.christy {
	background-image: url("https://res.cloudinary.com/dbc2wlvk8/image/upload/c_fill,f_auto,g_face,h_900,w_600/v1533317668/rose-house/IMG_3046.jpg");
}
.profile-circle.melissa {
	background-image: url("https://res.cloudinary.com/dbc2wlvk8/image/upload/c_fill,f_auto,g_face,h_900,w_600/v1542239953/rose-house/profile-picture/Melissa_photo.jpg");
}
.profile-circle.sandra {
	background-image: url("https://res.cloudinary.com/dbc2wlvk8/image/upload/c_fill,f_auto,g_face,h_900,w_600/v1542240179/rose-house/profile-picture/Sandra_Radney_photo.jpg");
}
.gallery > img {
	width: 150px;
	margin: 3px 1px;
	display: inline-block;
	border: solid 3px #fff;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 940px) {
	.logo {
		top: 31px;
		right: 8px;
		left: initial;
		height: 80px;
	}
	.logo > a > img {
    	height: 70px;
	}
	.top > div:nth-child(1) {
		margin-left: 8px;
	}
}
@media screen and (max-width: 900px) {
	.program-icons {
		background: #89293D;
	}
}
@media screen and (max-width: 600px) {
	.gallery > img {
		width: 90%;
		display: block;
		margin: 4px auto;
	}
	.logo {
		top: 55px;
	}
	.contact-widget-side {
		display: none;
	}
	.top > div:nth-child(2) {
		top: 8px;
		position: relative;
	}
	.top > div:nth-child(1) > a {
		display: block;
	}
	
	.hide-sm {
		display: none;
	}
	.testimonial {
		height: 400px;
	}
	.testimonial > div {
		width: 100%;
	}
}
